<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/chart.js"></script>
  <%- include('../partials/head'); %>
    <title>Dashboard</title>
    <style>
      .canvas-container{
        width: 400px;
      }
    </style>
</head>

<body>

  <%- include('../partials/headerUser'); %>
    <div class="container-fluid">
      <div class="row">
        <%- include('../partials/sideNavbar'); %>  
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <h1 class="h2">Summary</h1>
          <div class="d-flex justify-content flex-wrap ">
            <div class="canvas-container">
              <canvas class="my-4 chartjs-render-monitor" id="myChart"></canvas>
            </div>
            <div class="canvas-container">
              <canvas class="my-4 chartjs-render-monitor" id="myChart1"></canvas>
            </div>
            <div class="canvas-container">
              <canvas class="my-4 chartjs-render-monitor" id="myChart2"></canvas>
            </div>
            <div class="canvas-container">
              <canvas class="my-4 chartjs-render-monitor" id="myChart3"></canvas>
            </div>
          </div>
        </main>
      </div>
    </div>

    <%- include('../partials/footer'); %>

    <script>
       const labels = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Test',
      backgroundColor: ['rgb(255, 99, 132)', 'red', 'blue', 'green', 'yellow', 'black','red', 'blue', 'green', 'yellow', 'black'],
      borderColor: 'rgb(255, 99, 132)',
      data: [0, 10, 5, 2, 20, 30, 45, 60, 75, 90, 50, 10],
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {}
  }; 
  const config1 = {
    type: 'line',
    data: data,
    options: {}
  };
  const config2 = {
    type: 'pie',
    data: data,
    options: {}
  };
  const config3 = {
    type: 'bar',
    data: data,
    options: {}
  };
      var myChart = document.getElementById("myChart").getContext("2d");
      var myChart1 = document.getElementById("myChart1").getContext("2d");
      var myChart2 = document.getElementById("myChart2").getContext("2d");
      var myChart3 = document.getElementById("myChart3").getContext("2d");
      var barChart = new Chart (myChart, config);
      var barChart1 = new Chart (myChart1, config1);
      var barChart2 = new Chart (myChart2, config2);
      var barChart3 = new Chart (myChart3, config3);
    </script>

    
</body>

</html>