<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/chart.js"></script>
  <%- include('../partials/head'); %>
    <title>Dashboard</title>
    <style>
      .canvas-container{
        border: 1px solid black;
        width: 300px;
        height: 300px;
      }
    </style>
</head>

<body>

  <%- include('../partials/headerUser'); %>
    <div class="container-fluid">
      <div class="row">
        <%- include('../partials/sideNavbar'); %>  

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Summary</h1>
          </div>
          <div class="canvas-container">
            <canvas class="my-4 chartjs-render-monitor" id="myChart"></canvas>
          </div>

          <h2>Section title</h2>
          </div>
        </main>
      </div>


    <%- include('../partials/footer'); %>

    <script>
       const labels = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Test',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [0, 10, 5, 2, 20, 30, 45, 60, 75, 90, 50, 10],
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
      var myChart = document.getElementById("myChart").getContext("2d");
      var barChart = new Chart (myChart, config);
    </script>

    
</body>

</html>