<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('../partials/head'); %>
 <title>Dashboard</title>
 <style>
    a {
       color:black;
       text-decoration:none;
    }
</style>
</head>

  <body>

    <%- include('../partials/headerUser'); %>
    <%- include('../partials/sideNav'); %>
    <%- include('../partials/footer'); %>
    

  </body>
</html>
