<%- include('partials/head'); %>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<title>Expenses form</title>  

<body>
    <%- include('partials/headerUser'); %>

    <style>
        table, td, th{
    background-color: #d3d3d3 ;
    border: 1px solid black;
    height: 40px;
    width: 1200px;
    text-align: center;
    }

    table {
        margin-top: 20px;
    }
    </style>
    <main style="
    display: grid;
    justify-content: center;">
        <h3 style="text-align: center;">Expenses</h3>
        <table>
            <tr>
                <th>Product Name</th>
                <th>Company Name</th>
                <th>Expenses</th>
                <th>Id</th>
                <th>Sthing</th>

            </tr>
            <tr>
                <td>Product Name</td>
                <td>Company Name</td>
                <td>Expenses</td>
                <td>Id</td>
                <td>Sthing</td>

            </tr>
            <tr>
                <td>Product Name</td>
                <td>Company Name</td>
                <td>Expenses</td>
                <td>Id</td>
                <td>Sthing</td>

            </tr>
            <tr>
                <td>Product Name</td>
                <td>Company Name</td>
                <td>Expenses</td>
                <td>Id</td>
                <td>Sthing</td>

            </tr>
            <tr>
                <td>Product Name</td>
                <td>Company Name</td>
                <td>Expenses</td>
                <td>Id</td>
                <td>Sthing</td>

            </tr>
        </table>



</main>
<%- include('partials/footer'); %>
</body>
</html>