<!DOCTYPE html>
<html lang="en">
<head>
    <!--JS, CSS links will be injected here-->
    <%- include('partials/head'); %>   
    <title>Document</title>
</head>
<body>
    <!--Header will be injected here-->
    <%- include('partials/header'); %>

    <!--Start main content of page here-->
    
    <!--Footer will be injected here-->
    <%- include('partials/footer'); %>
</body>
</html>