.dashboard-title{
    text-align: center;
}

.dashboard-title.entry-data{
    margin-top: 50px;
}

footer{
    /* position: absolute; */
    bottom: 0px;
    width:100%;
    /* position: fixed; */
    height: 50px;
    background-color: #141619;
    position: relative; 
}

section .sign-up-form{
    margin-bottom: 50px;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }



     
    table, td, th{
    background-color: #d3d3d3 ;
    border: 1px solid black;
    height: 40px;
    width: 500px;
    text-align: center;
    }

    table {
        margin-top: 20px;
    }
    .maindisplaydata{
        display: grid;
        justify-content: center;

    }
    .hdisplaydatat{
        text-align: center;
    }




  