.dashboard-title{
    text-align: center;
}

.dashboard-title.entry-data{
    margin-top: 50px;
}

footer{
    position: absolute;
    bottom: 0px !important;
}

section .sign-up-form{
    margin-bottom: 50px;
}